body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url('./front.jpg');
    text-align: center;
}

.left {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20px;
}

.left img {
    width: 120px;
    border-radius: 50%;
}

.left div {
    text-align: center;
    font-size: 15px;
}

.mid {
    display: block;
    width: 50%;
    margin: 29px auto;
}

.right {
    position: absolute;
    right: 34px;
    top: 38px;
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 16px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 30px 20px;
}

.navbar li a:hover {
    text-decoration: underline;
    color: red;
}


.btn {
    font-family: 'Poppins', sans-serif;
    margin: 0px 9px;

    background-color: black;
    color: white;
    padding: 4px 14px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    color: grey;
}

.container {
    margin: 2px 2px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: block;
    width: 404px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 20px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
    color: lavender;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}